.navigation {
  align-items: center;
  height: 8vh;
  display: flex;
  justify-content: center;
  .arrow {
    transition-duration: 0.8s;
    transition-property: transform;
    position: relative;
    top: -5px;
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    border-right: 0.3em solid #fff;
    border-top: 0.3em solid #fff;
    transform: rotate(135deg);
    margin-right: 0.5em;
    margin-left: 1em;
    cursor: pointer;
  }
  .flip {
    transform: rotate(315deg);
    -webkit-transform: rotate(315);
  }
}
